denosing-noisy-signal/te
denosing-noisy-signal/tes
denosing-noisy-signal/tr
denosing-noisy-signal/v
denosing-noisy-signal/speech_denoising_model_111.h5
denosing-noisy-signal/tex_np_FD_t.pkl
denosing-noisy-signal/trx_np_FD_t.pkl
denosing-noisy-signal/trx_np_ibm_t.pkl
denosing-noisy-signal/vx_np_FD_t.pkl
denosing-noisy-signal/vx_np_ibm_t.pkl

exploring-neural-network/frames
exploring-neural-network/simple_neural_network_model.h5

siamase-network/siamese_model_history.pkl
siamase-network/siamese_model.h5
siamase-network/tes.pkl
siamase-network/trs.pkl

perceptron/xor_mlp_frames
perceptron/xor_perceptron_frames
perceptron/or_perceptron_frames
perceptron/and_perceptron_frames

auto-encoder/autoencoder_model.h5
variational-auto-encoders/Variational-Auto-Encoder-Explainer.mp4